

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----start-----*/


#site-wrapper {
	height:130px;
	width:100%;
	background-color:#F5F5CC;
}


#site-header {
	height:100px;
	width:70%;
	background-color:#F5F5CC;
	margin:0 auto;
	position:relative;
}

#site-header h1 {
	position:absolute;
	top:0;
	left:0;
	
}

#site-header nav {
	position:absolute;
	top:0;
	right:0;
	text-transform:uppercase;
}

#top-nav a{
	text-decoration:none;
	text-transform:none;
	color:#754719;
	font-size:10px;
	font-family:helvetica;
	
}

#top-nav {
	color:#754719;
	font-size:10px;
	font-family:helvetica;
	
	
}

#page{
	float:left;
	width:70%;
	font-family:helvetica;
	margin-bottom:40px;
}

#page h1{
	font-size:2em;
	color:#754719;
	text-transform:uppercase;
	font-weight: bold;
	margin-bottom:10px;
}

#page h2{
	font-size:12pt;
	color:#754719;
	text-transform:uppercase;
	font-weight: bold;
	margin-bottom:10px;

}

#page p{
	font-size:10pt;
	color:black;
	margin-bottom:10px;
	width:70%;

}


#footer-wrapper {
	clear:both;
	background-color:#754719;
	height:120px;
	width:100%;
	
}

#footer-follow {
	float:right;
	width:50%;
	font-family:helvetica;
	color:#754719;
}
#footer-follow img{
	float:left;
}

#menu-wrapper {
	width:100%;
	height:40px;
	margin:0 auto;
	background-color:#754719;
	text-decoration:none;
}

#menu-wrapper li a{
	float:left;
	text-decoration:none;
	color:white;
	font-family:helvetica;
	margin:10px;
	
}

#main-menu {
	width:70%;
	margin:0 auto;
}

#content {
	width:70%;
	margin:0 auto;
	
}

#site-footer {
	
	
}

#sidebar li a{
	text-decoration:none;
	color:#754719;
	font-family:helvetica;
	font-size:9pt;
}

#sidebar {
	color:#754719;
	font-family:helvetica;
	margin-bottom:5%;

}

#sidebar h1{
	color:#754719;
	font-family:helvetica;
	text-transform:uppercase;
	font-size:12pt;
	font-weight:bold;
	margin-top:5%;

}


#footer-contact {
	width:30%;
	font-family:helvetica;
	float:left;
	width:50%;
	

	
}

#footer-contact h1{
	color:#F5F5CC;
	text-transform:uppercase;
	font-size:12pt;
	font-weight:bold;
	margin-top:.5em;
	margin-bottom:.5em;
	margin-left:30%;
	margin-right:30%;

}

#footer-follow h1{
	color:#F5F5CC;
	text-transform:uppercase;
	font-size:12pt;
	font-weight:bold;
	margin-top:.5em;
	margin-bottom:.5em;

}

#footer-contact p{
	color:white;
	font-size:9pt;
	margin-top:.5em;
	margin-bottom:.5em;
	margin-left:30%;
	margin-right:50%;

}

